@model ASP_MVC.Models.Utilisateur.UtilisateurCreateForm


<h2>Inscription</h2>
<form asp-action="Inscription" method="post">
    <div>
        <label>Pseudo :</label>
        <input asp-for="Pseudo" />
        <span asp-validation-for="Pseudo"></span>
    </div>
    <div>
        <label>Mot de passe :</label>
        <input asp-for="MotDePasse" type="password" />
        <span asp-validation-for="MotDePasse"></span>
    </div>
    <div>
        <label>Confirmer le mot de passe :</label>
        <input asp-for="ConfirmMotDePasse" type="password" />
        <span asp-validation-for="ConfirmMotDePasse"></span>
    </div>
    <button type="submit">S'inscrire</button>
</form>
