@model IEnumerable<BLL.Entities.Jeux>

<h1>Liste des Jeux</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var jeu in Model)
        {
            <li>
                <strong>@jeu.Nom</strong> - Âge: @jeu.AgeMin+ <br>
                <small>@jeu.Description</small>
            </li>
        }
    </ul>
}
else
{
    <p>Aucun jeu disponible.</p>
}
